.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

form {
    padding-top: 0px !important;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.content-box-blue {
    background-color: #f0f8fb;
    padding: 15px 25px;
    display: table;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', Segoe UI, Verdana, sans-serif !important;
    font-weight: bold;
    display: block;
}

h4, .h4 {
    font-size: 18px;
}

.ng-hide {
    display: none !important;
}

a {
    cursor: pointer;
    background-color: transparent;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pull-right {
    float: right !important;
}

.btn-link {
    position: relative;
    font-size: 13px;
    padding: 6px 12px 7px 0;
    font-weight: normal;
    color: #428bca !important;
    border-radius: 0;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent;
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a {
    color: #428bca;
    text-decoration: none;
}

.close-letter {
    font-size: 12px;
    padding-left: 10px;
    margin-top: 10px;
    color: #a9a9a9;
}

form {
    display: block;
    margin-top: 0em;
}

.fade.in {
    opacity: 1;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.form-group {
    margin-bottom: 15px;
}

.form-horizontal, .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right !important;
}

.col-sm-2 {
    width: 16.66666667%;
}

label {
    font-weight: normal;
    display: inline-block !important;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: default;
}

.error-required {
    color: #ff5555;
    top: 0px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-family: 'Segoe UI';
    font-weight: bold;
    cursor: help;
    font-size: 12px;
    padding-bottom: 5px;
    height: 20px;
    border-width: 2px;
}

.col-sm-6 {
    width: 50%;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input {
    line-height: normal;
}

.tab-content > .active {
    display: block;
    visibility: visible;
    margin-top: 20px;
}

.col-lg-2 {
    width: 16.66666667%;
}

.col-lg-3 {
    width: 25%;
}

.btn {
    font-family: 'Montserrat', sans-serif !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px !important;
}

*[_ngcontent-mnl-1] {
    box-sizing: border-box;
}

.content-box {
    padding: 15px 25px;
    display: table;
    width: 100%;
    background-color: #fff;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-10 {
    width: 83.33333333%;
}

p {
    margin: 0 0 10px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.div-btn-tooltip {
    display: inline-block;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

tbody, tbody > tr, td.no-border * {
    border-left: none !important;
}

.col-sm-6 {
    width: 50%;
    float: left;
}

.col-lg-10 {
    width: 83.33333333%;
    float: left;
}